{% extends "base.html" %}
{% block header_type %}{% endblock %}
{% block header_image %}{{ DEFAULT_HEADER_IMAGE }}{% endblock %}
{% block canonical %}
    <link rel="canonical" href="{{ SITEURL }}" />
{% endblock canonical %}
{% block ld_json %}{{ ld_json }}{% endblock ld_json %}
{% block metas %}
    {% for tag in og_tags %}
        <meta property="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
    {% endfor %}
    {% for tag in twitter_tags %}
        <meta name="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
    {% endfor %}
    {% for tag in meta_tags %}
        <meta name="{{tag[0]}}" content="{{tag[1]|striptags|e}}" />
    {% endfor %}
{% endblock metas %}
{% block content %}
<main id="content" class="content" role="main">
    <div>
        {% include 'pagination.html' %}
    </div>
    {% for article in articles_page.object_list %}
        <article class="post">
            <header class="post-header">
                <h2 class="post-title">
                    <a href="{{ SITEURL }}/{{ article.url }}" rel="bookmark">
                        {{ article.title|striptags }}
                    </a>
                </h2>
            </header>
            <section class="post-excerpt">
                {{- article.summary|striptags -}}
                <a class="read-more" href="{{ SITEURL }}/{{ article.url}}" title="Read this article" rel="bookmark"> &raquo;</a>
            </section>
            <footer class="post-meta">
                <img class="author-thumb" src="/{{ article.author.picture }}" alt="{{ article.author }}" nopin="nopin">
                <a href="{{ article.author.url }}">{{ article.author }}</a> on {% for tag in article.tags %}<a href="{{ tag.url }}">{{ tag.name | title }}{% if not loop.last %}, {% endif %}</a>{% endfor %}
                <time class="post-date" datetime="{{ article.date.isoformat() }}">{{ article.locale_date }}</time>
            </footer>        
        </article>
    {% endfor %}
{% include 'pagination.html' %}
</main>
{% endblock content %}
